/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: rgb(1, 0, 40);
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --block-bg-color: #FF0070;
  --text-dark: #000028;
}

.theme-dark .page {
  background-color: var(--background-color);
  background-attachment: fixed;
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
  background: none;
  border: 1.5px solid transparent;
}

.theme-dark .header__theme-menu-button:focus,
.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.theme-dark .light {
  color: var(--title-color);
}

.theme-dark .light::after {
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.theme-dark .title {
  color: var(--title-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.theme-dark .title-text {
  color: var(--text-dark);
  background-color: var(--accent-color);
}

.theme-dark .title-in-main {
  color: var(--accent-color);
}

.theme-dark .title-title-in-main {
  color: var(--text-dark);
  background-color: var(--accent-color);
}

.theme-dark .p-in-main {
  color: var(--main-text-color);
}

.theme-dark .span-in-p {
  text-shadow: 1px 1px var(--accent-color);
}

.theme-dark .new-title {
  color: var(--text-dark);
  background-color: var(--accent-color);
}

.theme-dark footer {
  background-color: var(--background-color);
}

.theme-dark .title-footer {
  color: var(--title-color);
  text-shadow: 3px 3px var(--shadow-color);
}
