/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: rgb(1, 0, 40);
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --block-bg-color: #FF0070;
  --text-dark: #000028;
}