/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: #000000;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
