/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --block-bg-color: #ff8dcb;
  --text-dark: #000028;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --background-color: #ffffff;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --block-bg-color: #ff8dcb;
    --text-dark: #000028;
  }
}

.theme-light .cover-image{
  display: none;
}