/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --text-color: #000028;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --text-color: #000028;    
  }
}
