/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --text-color: #000028;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --text-color: #000028;    
  }
}

.theme-light .cover-image {
  display: none;
}

.theme-light .page {
  background-color: var(--background-color);
}


.theme-light .title {
  color: #FFC2E6;
  text-shadow: 4px 4px #FF8DCB;
}

.theme-light .title-text,
.theme-light .title-title-in-main,
.theme-light .new-title {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.theme-light .title-in-main,
.theme-light .p-in-main {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button {
  color: black;
  border-color: transparent;
}

.theme-light .header__theme-menu-button_active {
  border-color: black;
}

.theme-light .light {
  color: var(--accent-color);
}

.theme-light .light::after {
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.theme-light .title-footer {
  color: #FFC2E6;
  text-shadow: 4px 4px #FF8DCB;
}

