/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 100%;
  max-width: 100%;
  background-color: #FFF1F7; /* светлый фон вместо тёмного */
  background-attachment: fixed;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header__theme-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 75px;
}

.header__theme-menu-button {
  border: 1.5px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: #353430; /* тёмный текст */
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-list {
  margin-top: 0;
  padding: 0 10px 0 0;
}

.header__theme-menu-button:focus {
  border-width: 1.5px;
  border-color: #353430; /* акцент в тёмном цвете */
}

.header__theme-menu-button_active {
  border-width: 1.5px;
  border-color: #353430;
}

.cover-image {
  display: none; /* в светлой теме фоновое изображение скрываем */
}

.light {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.light::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  margin-left: 4px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #FF8DCB; /* светло-розовая точка */
}

.title {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  color: #FFC2E6; /* светло-розовый */
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 #FF8DCB; /* мягкая розовая тень */
}

.first {
  display: block;
}

.title-text {
  width: 95%;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-left: 2px;
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF8DCB; /* розовый фон вместо яркого неона */
}

.title-text-span {
  display: block;
}

/* main */
main {
  width: 100%;
  overflow-x: hidden;
}

.title-in-main {
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 35px;
}

.title-title-in-main {
  align-self: flex-start;
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF8DCB;
  margin-top: 20px;
}

.p-in-main {
  margin-top: 10px;
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.span-in-p {
  text-shadow: 1px 1px #FF8DCB;
}

.title-in-main2 {
  width: 95%;
  margin-left: 10px;
  padding-top: 30px;
}

.new-title {
  color: #353430;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF8DCB;
  margin-top: 20px;
}

.last-title {
  margin: 50px 10px 0 10px;
  color: #353430;
}

.last-main-img {
  width: 100%;
  margin-top: 10px;
}

section {
  margin: 0 10px 10px 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.title-footer {
  color: #FFC2E6;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-align: center;
  text-shadow: 2px 2px 0 #FF8DCB;
}


@media (min-width: 768px) and (max-width: 1023px) {

  .header {
    position: relative;
    height: 100vh;
    padding: 0;
  }

  .header__theme-menu-list {
    margin-top: 10vh;
    padding: 0 30px 0 0;
  }

  .title {
    flex-direction: row;
    gap: 100px;
    margin-top: 1.5em;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .first {
    display: flex;
  }

  .div-title-text {
    align-self: flex-end;
    width: 50%;
    margin: 9vh 0 0 0;
  }

  .grid-to-768 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 70px;
  }

  .p-in-main {
    margin-bottom: 20px;
  }

  .title-in-main {
    grid-column: 1;
    margin-top: 1px;
  }

  .title-title-in-main,
  .right-column {
    grid-column: 2;
    margin: 0;
  }

  .p-to-right {
    margin: 10px 0 10px 0;
  }

  section {
    margin: 0 20px 20px 20px;
  }

  .title-title-in-main {
    margin-bottom: 10px;
  }

  .title-in-main2 {
    width: 30%;
    margin: 50px 20px 20px 20px;
  }

  .last-title {
    margin-top: 60px;
  }

  .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 76vh;
  }

  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}


@media (min-width: 1024px) {

  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .header__theme-menu-button {
    white-space: nowrap;
  }

  .cover-image {
    display: none;
  }

  .title {
    flex-direction: row;
    gap: 100px;
    margin-top: 1.7em;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 157px;
  }

  .first {
    display: flex;
  }

  .div-title-text {
    align-self: flex-end;
    width: 51%;
    margin: 7vh 0 0 0;
  }

  .grid-to-768 {
    display: grid;
    grid-template-columns: 3fr 6fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 60px;
  }

  .title-in-main {
    grid-column: 1;
  }

  .title-to-left {
    margin: 0 0 20px 10px;
  }

  .title-in-main3 {
    margin: 0;
  }

  .title-title-in-main,
  .right-column {
    grid-column: 2;
    gap: 10px;
    margin: 0;
  }

  .p-to-right {
    margin: 10px 0 10px 0;
  }

  section {
    margin: 0 20px 20px 20px;
  }

  .title-in-main2 {
    width: 30%;
    padding: 0;
    margin: 80px 20px 0 20px;
  }

  .last-title {
    margin: 80px 20px 0 20px;
  }

  .grid-to-1024 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
  }

  .col1 {
    grid-column: 1;
  }

  .col2 {
    grid-column: 2;
  }

  .col3 {
    grid-column: 3;
  }

  .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 1024px;
  }

  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}
