/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 100%;
  max-width: 100%;
  background-color: var(--background-color);
  background-attachment: fixed;
  color: var(--main-text-color, var(--text-color));
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header__theme-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 75px;
}

.header__theme-menu-button {
  border: 1.5px solid transparent;
  padding: 10px 0;
  outline: none;
  color: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-list {
  margin-top: 0;
  padding: 0 10px 0 0;
}

.header__theme-menu-button:focus {
  border-width: 1.5px;
  border-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-width: 1.5px;
  border-color: var(--accent-color);
}

.cover-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light {
  position: absolute;
  top: 10px;
  right: 30px;
  color: var(--title-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.light::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  margin-left: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.title {
  display: flex;
  margin-top: 40px;
  margin-left: 10px;
  flex-direction: column;
  color: var(--title-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px var(--shadow-color, var(--accent-color));
}

.first {
  display: block;
}

.title-text {
  width: 95%;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 10px;
  color: var(--text-dark, var(--text-color));
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--block-bg-color, var(--accent-color));
}

.title-text-span {
  display: block;
}

/* main */
main {
  width: 100%;
  overflow-x: hidden;
}

.title-in-main {
  color: var(--text-dark);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 35px;
}

.title-title-in-main {
  align-self: center;
  color: var(--text-dark, var(--text-color));
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--block-bg-color, var(--accent-color));
  margin-top: 20px;
}

.p-in-main {
  margin-top: 10px;
  color: var(--main-text-color, var(--text-color));
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.span-in-p {
  text-shadow: 1px 1px var(--accent-color);
}

.title-in-main2 {
  width: 95%;
  margin-left: 10px;
  padding-top: 30px;
}

.new-title {
  color: var(--text-dark, var(--text-color));
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--block-bg-color, var(--accent-color));
  margin-top: 20px;
}

.title-in-main3 {
  margin: 0;
  margin-top: 50px;
}

.last-title {
  margin: 50px 10px 0 10px;
}

.last-main-img {
  width: 100%;
  margin-top: 10px;
}

section {
  margin: 0 10px 10px 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.title-footer {
  color: var(--title-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-align: center;
  text-shadow: 3px 3px var(--shadow-color, var(--accent-color));
}


@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    position: relative;
    height: 100vh;
    padding: 0;
  }

  .header__theme-menu-list {
    margin-top: 10vh;
    padding: 0 30px 0 0;
  }

  .title {
    flex-direction: row;
    gap: 100px;
    margin-top: 1.5em;
  }

  .first {
    display: flex;
  }

  .div-title-text {
    align-self: flex-end;
    width: 50%;
    margin: 9vh 0 0 0;
  }
  
  .grid-to-768 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 70px;
  }

  .p-in-main {
    margin-bottom: 20px;
  }

  .title-in-main {
    grid-column: 1;
    margin-top: 1px;
  }

  .title-title-in-main,
  .right-column {
    grid-column: 2;
    margin: 0;
  }

  .p-to-right {
    margin: 10px 0 10px 0;
  }

  section {
    margin: 0 20px 20px 20px;
  }

  .title-title-in-main {
    margin-bottom: 10px;
  }

  .title-in-main2 {
    width: 30%;
    margin: 40px 20px 20px 20px;
  }

  .last-title {
    margin-top: 60px;
  }

  .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 76vh;
  }

  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .header__theme-menu-button {
    white-space: nowrap;
  }

  .cover-image {
    display: none;
  }

  .title {
    flex-direction: row;
    gap: 100px;
    margin-top: 1.7em;
    font-size: 157px;
  }

  .first {
    display: flex;
  }

  .div-title-text {
    align-self: flex-end;
    width: 51%;
    margin: 7vh 0 0 0;
  }

  .grid-to-768 {
    display: grid;
    grid-template-columns: 3fr 6fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 60px;
  }

  .title-in-main {
    grid-column: 1;
  }

  .title-to-left {
    margin: 0 0 20px 10px;
  }

  .title-title-in-main,
  .right-column {
    grid-column: 2;
    gap: 10px;
    margin: 0;
  }

  .p-to-right {
    margin: 10px 0;
  }

  section {
    margin: 0 20px 20px 20px;
  }

  .title-in-main2 {
    width: 30%;
    padding: 0;
    margin: 80px 20px 0 20px;
  }

  .last-title {
    margin: 80px 20px 0 20px;
  }

  .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 1024px;
  }

  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .title-footer {
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 157px;
    line-height: 83%;
  }
}
