/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 100%;
  max-width: 100%;
  background-color: rgb(1, 0, 40);
  background-attachment: fixed
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header__theme-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 75px;
}

.header__theme-menu-button {
  border: 1.5px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: #FF0070;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-list{
    margin-top: 0;
    padding: 0 10px 0 0;
  }

.header__theme-menu-button:focus {
  border-width: 1.5px;
  border-color: #FF0070;
}

.header__theme-menu-button_active {
  border-width: 1.5px;
  border-color: #FF0070;
}

.cover-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #DB00FF;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.light::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  margin-left: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-color: #FF0070;
}

.title {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  color: #DB00FF;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px #FF0070;
}

.first {
  display: block;
}

.title-text {
  width: 95%;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-left: 2px;
  color: #000028;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF0070;
}

.title-text-span {
  display: block;
}

/* main */
main {
  width: 100%;
  overflow-x: hidden;
}

.title-in-main {
  color: #FF0070;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 40px;
}

.title-title-in-main {
  align-self: center;
  color: #000028;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF0070;
  margin-top: 20px;
}

.p-in-main {
  margin-top: 10px;
  color: #F1B2CE;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.span-in-p {
  text-shadow: 1px 1px #FF0070;
}

.title-in-main2{
  width: 95%;
  margin: 10px 0 10px 10px;
}
.new-title {
  color: #000028;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF0070;
  margin-top: 20px;
}

.last-title {
  margin: 50px 10px 0 10px;
}

.last-main-img {
  width: 100%;
  margin-top: 10px;
}

section{
  margin: 0 10px 10px 10px;
}

/* footeer тут */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
}
.title-footer {
  color: #DB00FF;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  text-align: center;
  text-shadow: 3px 3px #FF0070;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .header {
    position: relative;
    height: 100vh;
    padding: 0;
  }

  .header__theme-menu-list{
    margin-top: 10vh;
    padding: 0 30px 0 0;
  }

  .title {
    flex-direction: row;
    gap: 100px;
    margin-top: 1.5em;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: Bold;
  }

  .first {
    display: flex;
  }

  .div-title-text { 
    align-self: flex-end;
    width: 50%;
    margin: 9vh 0 0 0;
  }

  /* main тут */
  .grid-to-768 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 40px;
  }

  .title-in-main {
    grid-column: 1;
    margin-top: 20px;
  }

  .title-title-in-main,
  .right-column {
    grid-column: 2;
    gap: 10px; 
  }

  .p-to-right{
    margin: 10px 0 10px 0;
  }

  section{
    margin: 0 20px 20px 20px;
  }

  .title-title-in-main{
    margin-bottom: 20px;
  }

  .title-in-main2{
    width: 30%;
    margin: 10px 0 15px 20px;
  }

  .last-title{
    margin-top: 60px;
  }

  .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 76vh;
  }
  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }
}

@media (min-width: 1024px){
    .header__theme-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 0;
    }

    .header__theme-menu-list {
      display: flex;
      flex-wrap: nowrap; 
      gap: 20px; 
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .header__theme-menu-button {
      white-space: nowrap;
    }

    .title {
      flex-direction: row;
      gap: 100px;
      margin-top: 1.5em;
      font-family: IBM Plex Mono;
      font-weight: 700;
      font-size: 157px;
      font-style: Bold;
      font-family: IBM Plex Mono;
    }

    .first {
      display: flex;
    }

    .div-title-text { 
      align-self: flex-end;
      width: 51%;
      margin: 10vh 0 0 0;
    }

    /* main тут */
    .grid-to-768 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      row-gap: 10px;
      column-gap: 20px;
      margin-top: 50px;
    }

    .title-in-main {
      grid-column: 1;
      margin: 20px 0 20px 0;
    }

    .title-title-in-main,
    .right-column {
      grid-column: 2;
      gap: 10px; 
    }

    .p-to-right{
      margin: 10px 0 10px 0;
    }

    section{
      margin: 0 20px 20px 20px;
    }
    .title-in-main2{
      width: 30%;
      margin: 20px 0 20px 0;
    }

    .grid-to-1024{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
    }

    .col1{
      grid-column: 1;
    }

    .col2{
      grid-column: 2;
    }

    .col3{
      grid-column: 3;
    }

    .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 100vh;
  }
  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-section img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .img-section img:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .img-section img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .img-section img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .img-section img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }
}