:root {
  --background-color: #ffffff;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --block-bg-color: #ff8dcb;
  --text-dark: #000028;
}