:root { 
  --background-color: rgb(1, 0, 40); 
  --accent-color: #FF0070; 
  --main-text-color: #F1B2CE; 
  --title-color: #DB00FF; 
  --shadow-color: #FF0070; 
  --block-bg-color: #FF0070; 
  --text-dark: #000028; 
}

.cover-image {
  display: none;
}

.theme-light .cover-image {
  display: none;
}